* {
  font-family: 'Arial';
}

body {
  background: rgb(235, 238, 193);
  margin: 0;
  padding: 0;
}

table {
  border: 5px solid black;
}

td {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid black;
  background: white;
}

td:hover {
  background: red;
}

th {
  background-color: purple;
  color: white;
}

li {
  text-align: left;
  font-size: 20px;
}
li p {
  font-size: 15px;
  color: blue;
}

h1 {
  text-align: center;
  background-color: salmon;
  padding: 10px 0;
}

.images {
  text-align: center;
}

#locations {
  margin-left: 50px;
  float: left;
}

#merch {
  float: left;
  margin-left: 200px;
}

button {
  font-size: 14px;
}

#contact {
  float: left;
}